:root {
    --bg-dark: #1a0f2b;
    --bg-ligth: #2e1c4c;
    --card-bg: #3a245f;
    --accent: #7f4fff;
    --text-ligth: #ffffff;
    --text-muted: #cfc5e2;
    --card-ligth: #ffffff34;
    --bg-ligth2: #ffffff18;
    --desc-ligth: #ffffffb7;
}

/* Body & app */

body, .App { 
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-ligth);
    color: var(--text-ligth);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

 


main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "current current"
    "description forecast";
  gap: 1rem;
}

main > :nth-child(1) {
  grid-area: current;
}


main > :nth-child(2) {
  grid-area: description;
}


main > :nth-child(3) {
  grid-area: forecast;
}

/* Header styles */

.header {
    background: var(--bg-dark);
    padding: 1rem;
    text-align: center;
}

.header-form {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.header-input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 999px;
    background: var(--accent);
    color: var(--text-ligth);
    cursor: pointer;
    font-weight: bold;
}

.header-btn {
    padding: 0.50rem 0.50rem;
    border: none;
    border-radius: 999px;
    background: var(--accent);
    color: var(--text-ligth);
    font-weight: bolder;
    cursor: pointer;
    transition: background 0.3s;
}

.header-btn:hover{
    background: #9557ff;
}



/* Currentweather styles */

.current-weather {
    background: var(--bg-ligth2);
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
}

.current-weather img {
    width: 80px;
    height: 80px;
}

.current-weather h2 {
    margin: 0.5rem 0;
}

.current-weather p {
    margin: 0.25rem 0;
    color: var(--text-muted);
}



/* Forecast-card  */

.forecast-card { 
    display: flex;
    gap: 1rem;  
    overflow: visible;
    margin-left: 2rem;
}


.forecast-card img {
    height: 40px;
    width: 40px;
}


.forecast-day {
    position: relative;
    flex:0 0 100px;
    background: var(--card-ligth);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
    /* animation: fadeInUp 0.6s ease-out forwards;
    animation-delay: 0.3s; */
}  

/* POR ACA DEJAMOS EL ASUNTO ARRIBA... */


.forecast-day:hover {
    transform: scale(1.2);
    filter: brightness(1.3);
    z-index: 10;
}


.weather-description {
  background: var(--desc-ligth);
  padding: 2rem;
  display: flex;
  border-radius: 1rem ;
  border: 1px solid white;
  max-width: 80%;
  margin-right: 1rem;
  flex-direction: column;
  margin: 1rem 0;
  color: var(--bg-dark);
  font-size: 1.1rem;
  line-height: 1;
  align-items: center;
  justify-content: center;
  animation: fadeInUp 0.6s ease-out forwards;
  animation-delay: 0.3s;
}


.background { 
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size:cover;
    transition: background 0.5s ease;
    opacity: 0;
    animation: fadeInBg 0.8S ease-out forwards;
}

.background.clear { 
    background-image: url('public/images/clear.jpg');
}

.background.night { 
    background-image: url('public/images/night.jpg');
}

.background.rain { 
    background-image: url('public/images/rain.jpg');
}

.background.cloudy { 
    background-image: url('public/images/cloudy.jpg');
}


/* media querys */ 

@media (max-width: 786px) {
    main {
        flex-direction: row;
    } 

}



/* Anmimaciones @key frames */


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInBg {
    from { 
        opacity: 0; 
    }
    to   { 
        opacity: 1; 
    }
}

.fade-in-up {
    opacity: 0;
    animation: fadeInUp 0.5s ease-out forwards;
}

.delay-1 { animation-delay: 0.1s; }
.delay-2 { animation-delay: 0.2s; }
.delay-3 { animation-delay: 0.3s; }
.delay-4 { animation-delay: 0.4s; }

